---
- name: Install Python 3.6
    become: true
    yum:
      name: "{{ system_packages }}"
      state: present

- name: Install Python Packages
    become: true
    pip:
      name: "{{ python_packages }}"
      state: present
